@section Styles {
    <link rel="stylesheet" href="~/css/head.css" />
}

<header>
    <div class="headContainer">
        <div class="search"><i class="fa-solid fa-magnifying-glass"></i> <input type="type" name="name" value="" placeholder="Search anything..." /></div><div class="settingBox">
            <i class="fa-solid fa-bell"></i> <i class="fa-solid fa-gear"></i>     <a href="@Url.Content("~/")">
                <img src="~/images/avatar.svg" alt="Alpha Portal Logotype">
            </a>
        </div>
    </div>
</header>