<aside>
    <a href="@Url.Content("~/")">
        <img src="~/images/alpha-logotype-light.svg" alt="Alpha Portal Logotype">
    </a>

    <nav class="nav-links">
        <partial name="Partials/Components/_NavLinks" />
        <a class="nav-link" asp-action="index" asp-controller="projects"> <i class="fa-sharp-duotone fa-solid fa-briefcase"></i>Projects</a>
        <a class="nav-link" asp-action="index" asp-controller="projects"> <i class="fa-solid fa-users"></i>Clients</a>
    </nav>
</aside>
