.form-container {
    background-color: var(--Auth-light-background);
    border-radius: 14px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    width: 600px;
    padding: 5rem;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

    .form-container h1 {
        text-align: center;
        font-weight: 800;
        margin: 0 0 1.5rem 0;
        color: var(--text);
    }

    .form-container .googlebox {
        display: grid;
        grid-template-columns: auto 1fr;
        background-color: var( --auth-background);
        border-radius: 14px;
        padding: 0.75rem;
        margin-bottom: 1rem;
        cursor: pointer;
        transition: background-color 0.2s;
    }

        .form-container .googlebox:hover {
            background-color: var(--blue-accent);
        }

        .form-container .googlebox i {
            align-self: self-start;
        }


        .form-container .googlebox a {
            text-decoration: none;
            color: var(--text);
            text-align: center;
            font-weight: 500;
        }


.form-container .or{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 1rem 0;
    color: var(--text);
    font-size: 14px;
}

.form-container .or::before,
.form-container .or::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--border);
}

.form-container .or::before {
    margin-right: 1rem;
}

.form-container .or::after {
    margin-left: 1rem;
}

    .form-container .form-group {
        margin-bottom: 1rem;
    }

        .form-container .form-group label {
            display: block;
            font-size: 14px;
            margin-bottom: 0.5rem;
            font-weight: 600;
            color: var(--text);
        }

    .form-container .form-group input {
        width: 100%;
        padding: 0.75rem 1rem;
        border: 1px solid var(--border);
        border-radius: 14px;
        outline: none;
        background-color: var(--light-background);
        transition: border-color 0.2s;
        font-size: 14px;
        color: var(--text);
    }

        .form-container .form-group input::placeholder {
            color: var(--text-2);
            font-size: 14px;
        }

    .form-container input:focus {
        border-color: var(--blue-accent);
    }

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
    accent-color: var(--blue-accent);
}

.form-container .terms-text {
    color: var(--text);
    font-size: 14px;
}

.form-container .terms-link {
    color: var(--blue-accent);
    text-decoration: none;
    font-weight: 500;
}
.form-container .btn-login,
.form-container .btn-create {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background-color: var(--blue-accent);
    color: var(--white-100);
    border: none;
    border-radius: 14px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 0.5rem;
}
    .form-container .btn-login:hover,
    .form-container .btn-create:hover {
        background-color: var(--darkaccent);
    }
.form-container .login-link {
    text-align: center;
    margin-top: 1.5rem;
    color: var(--text);
    font-size: 14px;
}

    .form-container .btn-login{
        margin-top:0;
    }


    .form-container .login-link a {
        color: var(--blue-accent);
        text-decoration: none;
        font-weight: 600;
    }
.form-container .form-box {
    position: relative;
    background-color:transparent;   
}

.form-container .validationSpan {
    display: block;
    height:1rem;
}
.form-container .field-validation-error {
    color: var(--Error-color);
    display: block;
    font-size: 12px;
padding:0.5rem;
max-height:1rem;
}

    .form-container .field-validation-error::after {
        content: '\f071';
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        font-size: 1.2em;
        position: absolute;
        right: 0;
        color: var(--Error-color);
        padding: 0.5rem 1rem;
        margin-right: 0.3rem;
        bottom: 38%;
        border-radius: 14px;
        text-align: end;
        background-color: var(--background-Error-red);
        z-index: 2;
    }


/* Remember me */
.options {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
}

/* Checkbox */
.checkbox-group {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    margin-right: 0.5rem;
    accent-color: var(--blue-accent);
}

.forgot-password {
    text-decoration: none;
    color: var(--blue-accent);
}

/*använd flex for resposive disign*/

