@model LoginViewModel

@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Login";
}

<div class="form-container">
    <h1>Login</h1>
    <form asp-controller="Auth" asp-action="ExternalSignIn" method="post">
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
        <button class="googlebox" type="submit" name="provider" value="Google">  <img src="~/images/google-icon.svg" alt="google icon" />  Login with Google</button>
    </form>

    <span class="or">OR</span>

    <form novalidate asp-controller="Auth" asp-action="Login">
        <div class="form-group">
            <label asp-for="Email" for="email">Email</label>
            <div class="form-box">
            <input asp-for="Email" type="email" id="email" placeholder="Your email address" autocomplete="email" autofocus>
            <span asp-validation-for="Email" class="validationSpan"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Password" for="password">Password</label>
            <div class="form-box">
            <input asp-for="Password" type="password" id="password" placeholder="Enter your password">
            <span class="validationSpan" asp-validation-for="Password"></span>
            </div>
        </div>

        <div class="options">
            <div class="checkbox-group">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <a href="#" class="forgot-password">Forgot Password?</a>
        </div>

        <button type="submit" class="btn-login">Login</button>
    </form>

    <div class="login-link">
        Don't have an account? <a asp-action="SignUp">Sign Up</a>
    </div>
</div>