
@model RegisterFormModel


@{
    Layout = "_AuthLayout";
    ViewData["Title"] = "Register";
}

<div class="form-container">
    <h1>Create Account</h1>
    <div class="googlebox"> <img src="~/images/google-icon.svg" alt="google icon" /> <a href="#">Sign Up with Google</a></div>

    <span class="or">OR</span>

    <form method="post" asp-controller="Auth" asp-action="Register" novalidate>
        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input  asp-for="FirstName">
            <span asp-validation-for="FirstName"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName"></label>
            <input  asp-for="LastName" >
            <span asp-validation-for="LastName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input  asp-for="Email" >
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input  asp-for="Password" >
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" >
            <span asp-validation-for="Password"></span>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="terms">
            <span class="terms-text">I accept <a href="#" class="terms-link">Terms and Conditions</a></span>
        </div>
        <button type="submit" class="btn-create">Create Account</button>
    </form>
    <div class="login-link">
        Already have an account? <a href="#">Login</a>
