

.headContainer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

    .headContainer .search input {
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--text)
    }


    .headContainer .settingBox {
        display: flex;
        align-items: center;
        gap: 0.5rem
    }
